body hr {
  color: #F6511D;
  background-color: #F6511D;
  height: 0.05em;
}

.nava {
  font-family: "Charis SIL", serif;
  color: white;
  background-color: #F6511D;
  font-size: 2.3em;
  text-decoration: none;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.navhead {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

#nav {
  font-family: "Charis SIL", serif;
  color: #F6511D;
  font-size: 2em;
  text-decoration: none;
}

#img-nav {
  width: 3.5em;
  margin: auto auto 2em;
  padding: 1em;
}

main {
  margin-top: 6em;
}

.main a {
  color: white;
  background-color: #F6511D;
  padding: 0.5em 1em;
  font-style: "Charis SIL", serif;
  font-weight: 700;
  font-size: 1em;
}

.main a:hover {
  background-color: white;
  text-decoration: none;
  border: solid #F6511D 0.02em;
  color: #F6511D;
}

.main h1 {
  color: #0D2C54;
  font-family: "Oxygen", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.main h3 {
  color: #009DE0;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.main p {
  font-family: "Spartan", sans-serif;
  line-height: 2em;
}

.yellow-back {
  background-color: #FFB400;
  padding-top: 7em;
  padding-bottom: 7em;
}

.yellow-back p {
  font-family: "Oxygen", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  color: white;
}

.yellow-back a {
  font-family: "Charis SIL", serif;
  font-style: italic;
  color: white;
  font-size: 1em;
}

.yellow-back a:hover {
  text-decoration: none;
  color: white;
  padding: 0.3em;
  border: 0.21em solid white;
}

nav {
  margin: auto;
}

nav a:hover {
  color: #F6511D;
  text-decoration: none;
  border-bottom: 0.1em solid #F6511D;
}

nav ul {
  margin: auto;
  color: #F6511D;
  text-decoration: none;
}

nav ul li {
  padding: 0 0 1em;
  text-align: center;
}

@media (min-width: 992px) {
  nav ul li {
    padding: 0 0 1em 1em;
  }
}

nav ul li a {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  color: #F6511D;
  font-size: 1em;
}

@media (min-width: 992px) {
  nav ul li a {
    font-size: 0.8em;
  }
}

nav button {
  margin: auto;
}

#navbarNav {
  margin-left: auto;
}

.active {
  border-bottom: 0.15em solid #F6511D;
}

figure {
  border-bottom: 3em #009DE0 solid;
  padding: 0;
}

.home-reviews li {
  font-family: "Spartan", sans-serif;
  color: #0D2C54;
  font-weight: 400;
  padding-bottom: 2em;
  line-height: 2em;
  font-size: 0.8em;
}

.home-reviews h6 {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #009DE0;
  text-align: right;
  margin-right: 2.5em;
}

footer {
  background-color: #009DE0;
  text-align: center;
}

footer img {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 2em;
}

.cwt-main {
  margin-top: 1em;
}

.cwt-main h1 {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 2em;
  color: #0D2C54;
}

@media (min-width: 992px) {
  .cwt-main h1 {
    font-size: 1.4em;
  }
}

.cwt-outer {
  margin-bottom: 2em;
}

.cwt-outer h2 {
  font-family: "Charis SIL", serif;
  font-weight: 700;
  color: #F6511D;
  font-size: 1.5em;
  padding-top: 0.5em;
  height: 2em;
  width: 15em;
}

.cwt-outer h3 {
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  color: #F6511D;
  font-size: .7em;
}

.cwt-outer a {
  color: #0D2C54;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  line-height: 2em;
  font-size: 0.8em;
}

@media (min-width: 992px) {
  .cwt-outer a {
    font-size: 1em;
  }
}

.cwt-outer a p {
  border-left: #F6511D 0.1em solid;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.cwt-outer a p:hover {
  border: #F6511D 0.1em solid;
}

.cwt-outer a:hover {
  text-decoration: none;
  color: #0D2C54;
}

.cwt-inner {
  margin-left: 3em;
}

.cwt-inner li {
  font-family: "Spartan", sans-serif;
  color: #0D2C54;
  font-weight: 400;
  border-bottom: #FFB400 0.1em solid;
  margin-bottom: 2em;
  padding-bottom: 2em;
  line-height: 2em;
  font-size: 0.8em;
}

@media (min-width: 992px) {
  .cwt-inner li {
    font-size: 0.9em;
  }
}

.am-main {
  margin-top: 1em;
}

.am-main h1 {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 2em;
  color: #0D2C54;
}

@media (min-width: 992px) {
  .am-main h1 {
    font-size: 1.4em;
  }
}

.am-main img {
  width: 60%;
}

@media (min-width: 768px) {
  .am-main img {
    width: 96%;
  }
}

#mike {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  color: #009DE0;
  font-size: 1.2em;
}

@media (min-width: 992px) {
  #mike {
    font-size: 1.8em;
    text-align: right;
    padding-right: 0.4em;
  }
}

.am-para {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: .8em;
  color: #0D2C54;
  background-color: white;
  line-height: 1.8em;
}

.reviews-main {
  margin-top: 1em;
}

.reviews-main h1 {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 2em;
  color: #0D2C54;
}

@media (min-width: 992px) {
  .reviews-main h1 {
    font-size: 1.4em;
  }
}

.reviews li {
  font-family: "Spartan", sans-serif;
  color: #0D2C54;
  font-weight: 400;
  border-bottom: #FFB400 0.2em solid;
  margin-bottom: 2em;
  padding-bottom: 2em;
  line-height: 2em;
  font-size: 0.8em;
  margin-left: 1em;
}

.reviews h6 {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #009DE0;
  text-align: right;
  margin-right: 2.5em;
}

.events-main {
  margin-top: 1em;
}

.events-main h1 {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 2em;
  color: #0D2C54;
}

@media (min-width: 992px) {
  .events-main h1 {
    font-size: 1.4em;
  }
}

.events li {
  font-family: "Spartan", sans-serif;
  color: #0D2C54;
  font-weight: 400;
  margin-bottom: 2em;
  padding-bottom: 2em;
  line-height: 2em;
  font-size: 0.8em;
  border-bottom: #FFB400 0.1em solid;
  margin-left: 1em;
}

.events li img {
  margin-bottom: 1em;
}

.events h6 {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #009DE0;
}

.events h2 {
  font-size: 1.5em;
  color: #0D2C54;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
}

.events h3 {
  color: #009DE0;
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-size: 1em;
  color: #009DE0;
}
