$sm: 567px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$spartan: 'Spartan', sans-serif;
$chair: 'Charis SIL', serif;
$oxygen: 'Oxygen', sans-serif;
$orange: #F6511D;
$blue: #009DE0;
$yellow: #FFB400;
$dark: #0D2C54;

body {
  hr {
    color: $orange;
    background-color: $orange;
    height: 0.05em;
  }
}
.nava{
  font-family: $chair;
  color:white;
  background-color: $orange;
  font-size: 2.3em;
  text-align: center;
  padding-top: 1em;
    padding-bottom: 1em;

}
#front{
  top:0;
     left:0;
     height:100%;
     width:20%;
     z-index:1001;
position: relative;
}
#nava:hover{
  text-decoration: none;
  color:white;
}

.navhead {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
#nav{
  font-family: $chair;
 color: $orange;
 font-size: 2em;
 text-decoration: none;

}
#img-nav {
  width: 3.5em;
  margin: auto auto 2em;
  padding: 1em;
}
//
main {
  margin-top: 3em;
}
// span {
//   content: "\002B";
//   color:white;
// }
.main {
  a {
    color: white;
    background-color: $orange;
    padding: 0.5em 1em;
    font-style: $chair;
    font-weight: 700;
    font-size: 1em;
    @media(max-width: $sm){
    float: left;
    margin-bottom: 0.5em;
  }
  }
#zon{
  padding: 0.5em 1.5em;
  margin-right: 0.25em;
}
  a:hover {
    background-color: white;
    text-decoration: none;
    border: solid $orange 0.02em;
    color: $orange;
  }

  h1 {
    color: $dark;
    font-family: $oxygen;
    font-size: 2em;
    font-weight: 700;
    margin-top:3em;
  }

  h3 {
    color: $blue;
    font-family: $spartan;
    font-weight: 500;
    font-size: 1em;
  }

  p {
    font-family: $spartan;
    line-height: 2em;
  }
}

.yellow-back {
  background-color: $yellow;

  padding-bottom: 7em;
  margin-top:2em;
  margin-bottom:1.2em;
  height:41em;
  @media(max-width: $lg){
    text-align: left;
    height:30em;
  }


  @media(min-width: $xl){
    margin-top: -5em;
padding-top: 12em;
  height:41em;
  }
@media(max-width: $md){
  text-align: center;
  height:20em;
}
@media(max-width: $sm){
  height: 25em;
  padding-top: 0em;
text-align:center;}

  @media(max-width: 280px){
    height: 30em;
  padding-top: 0em;}
  p {
    font-family: $oxygen;
    font-size: .9em;
    font-weight: 700;
    color: white;
    line-height: 2em;
    padding-top:4em;


  }

  a {
    font-family: $chair;
    font-style: italic;
    color: white;
    font-size: 1em;
    line-height: 2em;


    @media(min-width: $xl){
      font-size: 1.2em;

  }
}
  a:hover {
    text-decoration: none;
    color: white;
    padding: 0.3em;
    border-bottom: 0.21em solid white;

  }
}
.backcover{
  width:23em;;
  margin-top: -4em;
  @media(max-width: $xl){
    margin-top:-1em;

  }

  @media(max-width: $lg){
    margin-top: 1em;
    position: absolute;
    padding-right: 2em;
}
}
nav {
  margin: auto;

  a:hover {
    color: $orange;
    text-decoration: none;
    border-bottom: 0.1em solid $orange;
  }

  ul {
    margin: auto;
    color: $orange;
    text-decoration: none;

    li {
      padding: 0 0 1em;
      text-align: center;
      @media(min-width: $lg) {
        padding: 0 0 1em 1em;
      }

      a {
        font-family: $oxygen;
        font-weight: 700;
        color: $orange;
        font-size: 1em;
        @media(min-width: $lg) {
          font-size: 0.8em;
        }
      }
    }
}




  button {
    margin: auto;
  }
}

#navbarNav {
  margin-left: auto;
}

.active {
  border-bottom: 0.15em solid $orange;
}

figure {
  border-bottom: 3em $blue solid;
  padding: 0;
  @media(max-width: $lg){
      border-bottom: none;
  }
}

.home-reviews {
  li {
    font-family: $spartan;
    color: $dark;
    font-weight: 400;
    padding-bottom: 2em;
    line-height: 2em;
    font-size: 0.8em;
  }

  h6 {
    font-family: $oxygen;
    font-weight: 700;
    font-size: 1em;
    color: $blue;
    text-align: right;
    margin-right: 2.5em;
  }
}

footer {
  background-color: $blue;
  text-align: center;

  img {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 2em;
  }
}
// Conversation with trees

.cwt-main {
  margin-top:1em;





i {
  color:$orange;
  text-align: center;
display: block;
margin-bottom: 1em;
}

i:hover{

}





  h1 {
    font-family: $oxygen;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 2em;
    color: $dark;
    @media(min-width: $lg) {
      font-size: 1.4em;
    }
  }

  h4{
    color:white;
background-color: $blue;
padding:.5em;
text-align: center;
font-family: $oxygen;
font-weight:600;
}

}
.cwt-asd{

  margin-top:1em;
  p{
    margin-top: 1.5em;
        font-size: .8em;
        font-family: "Spartan";
        font-weight: 500;
        line-height: 2.2em;

    em{
      font-weight: 600;
    }
  }

}
#revfoot{
  margin-top:4em;
}
.cwt-outer {
margin-bottom: 2em;
  h2{
    font-family: $chair;
    font-weight:700;
    color:$orange;
    font-size: 1.5em;
    padding-top: 0.5em;
    height: 2em;
    width: 15em;
  }
  h3{
    font-family: $spartan;
    font-weight: 600;
    color:$orange;
    font-size: .7em;

  }
  a {
    color: $dark;
    font-family: $oxygen;
    font-weight: 600;
    line-height: 2em;
    font-size: 0.8em;
    @media(min-width: $lg) {
      font-size: 1em;
    }

    p {
      border-left: $orange .1em solid;
      margin-bottom: 1em;
      padding-left: 1em;
        padding-right: 1em;
    }




  }

  a:hover {
    text-decoration: none;
    color: $dark;
  }
}

.cwt-inner {
  margin-left: 3em;

  li {
    font-family: $spartan;
    color: $dark;
    font-weight: 400;
    border-bottom: $yellow .1em solid;
    margin-bottom: 2em;
    padding-bottom: 2em;
    line-height: 2em;
    font-size: 0.8em;
    @media(min-width: $lg) {
      font-size: 0.9em;
    }
  }
}
// Abou Mike

.am-main {
margin-top:1em;
  h1 {
    font-family: $oxygen;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 2em;
    color: $dark;
    @media(min-width: $lg) {
      font-size: 1.4em;
    }
  }
  img{
    width:60%;
    @media(min-width: $md){
      width:96%;
    }
  }
}



#mike {
  font-family: $oxygen;
  font-weight: 400;
  color: $blue;
  font-size: 1.2em;
  @media(min-width: $lg) {
    font-size: 1.8em;
    text-align: right;
    padding-right: 0.4em
  }
}

.am-para {
  font-family: $spartan;
  font-weight: 400;
  font-size: .8em;
  color: $dark;
  background-color: white;
  line-height: 1.8em;}
// Reaviews
.reviews-main {
  margin-top:1em;
  h1 {
    font-family: $oxygen;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 2em;
    color: $dark;
    @media(min-width: $lg) {
      font-size: 1.4em;
    }
  }
}

.reviews {

  li {
    font-family: $spartan;
    color: $dark;
    font-weight: 400;
    border-bottom: $yellow .2em solid;
    margin-bottom: 2em;
    padding-bottom: 2em;
    line-height: 2em;
    font-size: 0.8em;
    margin-left: 1em;
  }

  h6 {
    font-family: $oxygen;
    font-weight: 700;
    font-size: 1em;
    color: $blue;
    text-align: right;
    margin-right: 2.5em;
  }
}
// Events
.events-main {
  margin-top:1em;
  h1 {
    font-family: $oxygen;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 2em;
    color: $dark;
    @media(min-width: $lg) {
      font-size: 1.4em;
    }
  }
}

.events {
  li {
    font-family: $spartan;
    color: $dark;
    font-weight: 400;
    margin-bottom: 2em;
    padding-bottom: 2em;
    line-height: 2em;
    font-size: 0.8em;
    border-bottom: $yellow .1em solid;
    margin-left: 1em;

    img {
      margin-bottom: 1em;
    }
  }

  h6 {
    font-family: $spartan;
    font-weight: 500;
    font-size: 1em;
    color: $blue;
  }

  h2 {
    font-size: 1.5em;
    color: $dark;
    font-family: $spartan;
    font-weight: 500;
  }

  h3 {
    color: $blue;
    font-family: $oxygen;
    font-weight: 700;
    font-size: 1em;
    color: $blue;
  }
}
